<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>HR Staffing | Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<meta name="keywords" content="HR Staffing"
	/>
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!--webfonts-->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet'
	 type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
	<!--//webfonts-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
	<script>
		$(document).ready(function (c) {
			$('.close').on('click', function (c) {
				$('.login-form').fadeOut('slow', function (c) {
					$('.login-form').remove();
				});
			});
		});

	</script>
	<!--SIGN UP-->
	<h1>Admin Login</h1>
	<div class="login-form">
		<div class="close"> </div>
		<div class="head-info">			
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
		<div class="clear"> </div>
		<div class="avtar">
			<img src="images/avtar.png" />
		</div>
		<form>
			<input type="text" class="text" ng-model="userName" placeholder="Username" >
			<div class="key">
				<input type="password" ng-model="password" placeholder="Password" >
			</div>
			<a ng-show="vm.loginFail" > wrong user or password </a>
		</form>
		<div class="signin">
			<input type="submit" value="Login" ng-click="vm.loggedUser(userName, password)">
		</div>
	</div>
	
	<div class="copy-rights">
		<h4><p><a href="http://hr-staff.com" target="_blank">HR Staffing</a> </p></h4>
		<p>Introducing Better People & Better Service!</a> </p>
	</div>
	<!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
	<!-- endbower -->
    <!-- endbuild -->

</body>
</html>