<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Jobs Offer Module [Web Page Administration]</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">


                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a data-target="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">New Job Offer</a>
                        </li>
                        <li role="presentation" class=""><a data-target="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Active Jobs Offer</a>
                        </li>
                        <li role="presentation" class=""><a data-target="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Past Jobs Offer</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>New Job Form</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <br />
                                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Job Title <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                         <select id="job-title" class="form-control" class="form-control col-md-7 col-xs-12" required>
                                                            <option value="">Choose..</option>
                                                            <option value="press">Press</option>
                                                            <option value="net">Internet</option>
                                                            <option value="mouth">Word of mouth</option>
                                                        </select>                                                       
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Responsabilities <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <textarea id="responsabilities" required="required" class="form-control" name="responsabilities" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Experience Requiered</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <textarea id="experience" required="required" class="form-control" name="experience" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Employment Type</label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                        <select id="employment-type" class="form-control" class="form-control col-md-7 col-xs-12" required>
                                                            <option value="">Choose..</option>
                                                            <option value="press">Press</option>
                                                            <option value="net">Internet</option>
                                                            <option value="mouth">Word of mouth</option>
                                                        </select>   
                                                    </div>
                                                </div>
                                                 <div class="form-group">
                                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Industry</label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">                                                       
                                                         <select id="industry" class="form-control" class="form-control col-md-7 col-xs-12" required>
                                                            <option value="">Choose..</option>
                                                            <option value="press">Press</option>
                                                            <option value="net">Internet</option>
                                                            <option value="mouth">Word of mouth</option>
                                                        </select>  
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Level Study</label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">                                                        
                                                        <select id="level-study" class="form-control" class="form-control col-md-7 col-xs-12" required>
                                                            <option value="">Choose..</option>
                                                            <option value="press">Press</option>
                                                            <option value="net">Internet</option>
                                                            <option value="mouth">Word of mouth</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Experience Years</label>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                        <input type="number" id="experience-years" class="form-control col-md-7 col-xs-12" type="text" name="experience-years">
                                                    </div>
                                                </div>
                                                
                                                 <div class="form-group">
                                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Deadline for Application</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                                                                <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                </div>
                                                            </a>
                                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                                                            </ul>
                                                            </div>
                                                     
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Responsible</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">                                                       
                                                        <select id="responsible" class="form-control" class="form-control col-md-7 col-xs-12" required>
                                                            <option value="">Choose..</option>
                                                            <option value="press">Press</option>
                                                            <option value="net">Internet</option>
                                                            <option value="mouth">Word of mouth</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                <div class="ln_solid"></div>
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                        <button class="btn btn-primary" type="button">Cancel</button>
                                                        <button class="btn btn-primary" type="reset">Reset</button>
                                                        <button type="submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation
                                +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation
                                +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>